<div class="intro">
	<h1>Notebooks</h1>

	<table class="notebook-display">
	  <% @notebooks.each do |notebook|%>
	    <tr>
	      <td class="notebook-description"><h4><%= notebook.description %></h4></td>
	      <td><%= link_to "Show" , notebook %></td>
	      <td><%= link_to "Rename" , edit_notebook_path(notebook) %></td>
	      <td><%= link_to "Delete" , notebook, method: :delete %></td>
	    </tr>
	  <%end%>
	</table>

<%= link_to "New Notebook", new_notebook_path %>
</div>
